In [9]:
import pandas as pd

df = pd.read_excel('vendas.xlsx')

display(df)

,data,loja,categoria,produto,quantidade,valor_venda
0,2024-07-20,Vento Norte,ELETRODOMESTICOS,Aquecedor,5.0,405.55
1,2024-05-30,Vento Norte,sazonal,Guarda-chuva,6.0,2866.20
2,2024-01-25,Vento Norte,roupas,Calça,8.0,3292.72
3,2024-07-10,Chuva Clara,roupas,Casaco,5.0,1294.95
4,2024-05-29,Porto Sol,infantil,Blusa Infantil,NaN,NaN
...,...,...,...,...,...,...
495,2024-08-23,Porto Sol,eletrodomesticos,Ventilador,4.0,1545.72
496,2024-12-19,Vento Norte,eletrodomesticos,Ventilador,1.0,230.89
497,2024-05-12,Vila Neve,infantil,Blusa Infantil,6.0,441.30
498,2024-03-08,Vila Neve,eletrodomesticos,Ar-condicionado,1.0,293.93
499,2024-07-25,Vento Norte,sazonal,Guarda-chuva,3.0,1479.81

TRATAMENTO DOS DADOS

In [10]:
#1

df['categoria'] = df['categoria'].str.lower()
display(df)

,data,loja,categoria,produto,quantidade,valor_venda
0,2024-07-20,Vento Norte,eletrodomesticos,Aquecedor,5.0,405.55
1,2024-05-30,Vento Norte,sazonal,Guarda-chuva,6.0,2866.20
2,2024-01-25,Vento Norte,roupas,Calça,8.0,3292.72
3,2024-07-10,Chuva Clara,roupas,Casaco,5.0,1294.95
4,2024-05-29,Porto Sol,infantil,Blusa Infantil,NaN,NaN
...,...,...,...,...,...,...
495,2024-08-23,Porto Sol,eletrodomesticos,Ventilador,4.0,1545.72
496,2024-12-19,Vento Norte,eletrodomesticos,Ventilador,1.0,230.89
497,2024-05-12,Vila Neve,infantil,Blusa Infantil,6.0,441.30
498,2024-03-08,Vila Neve,eletrodomesticos,Ar-condicionado,1.0,293.93
499,2024-07-25,Vento Norte,sazonal,Guarda-chuva,3.0,1479.81

In [11]:
#2

df = df[df['quantidade'].notna()]
display(df)

,data,loja,categoria,produto,quantidade,valor_venda
0,2024-07-20,Vento Norte,eletrodomesticos,Aquecedor,5.0,405.55
1,2024-05-30,Vento Norte,sazonal,Guarda-chuva,6.0,2866.20
2,2024-01-25,Vento Norte,roupas,Calça,8.0,3292.72
3,2024-07-10,Chuva Clara,roupas,Casaco,5.0,1294.95
5,2024-08-31,Porto Sol,sazonal,Manta térmica,2.0,957.96
...,...,...,...,...,...,...
495,2024-08-23,Porto Sol,eletrodomesticos,Ventilador,4.0,1545.72
496,2024-12-19,Vento Norte,eletrodomesticos,Ventilador,1.0,230.89
497,2024-05-12,Vila Neve,infantil,Blusa Infantil,6.0,441.30
498,2024-03-08,Vila Neve,eletrodomesticos,Ar-condicionado,1.0,293.93
499,2024-07-25,Vento Norte,sazonal,Guarda-chuva,3.0,1479.81

In [12]:
#3 

df['loja'] = df['loja'].str.strip()
df['categoria'] = df['categoria'].str.strip()
df['produto'] = df['produto'].str.strip()

df['loja'] = df['loja'].str.title()
df['categoria'] = df['categoria'].str.title()
df['produto'] = df['produto'].str.title()

display(df)

,data,loja,categoria,produto,quantidade,valor_venda
0,2024-07-20,Vento Norte,Eletrodomesticos,Aquecedor,5.0,405.55
1,2024-05-30,Vento Norte,Sazonal,Guarda-Chuva,6.0,2866.20
2,2024-01-25,Vento Norte,Roupas,Calça,8.0,3292.72
3,2024-07-10,Chuva Clara,Roupas,Casaco,5.0,1294.95
5,2024-08-31,Porto Sol,Sazonal,Manta Térmica,2.0,957.96
...,...,...,...,...,...,...
495,2024-08-23,Porto Sol,Eletrodomesticos,Ventilador,4.0,1545.72
496,2024-12-19,Vento Norte,Eletrodomesticos,Ventilador,1.0,230.89
497,2024-05-12,Vila Neve,Infantil,Blusa Infantil,6.0,441.30
498,2024-03-08,Vila Neve,Eletrodomesticos,Ar-Condicionado,1.0,293.93
499,2024-07-25,Vento Norte,Sazonal,Guarda-Chuva,3.0,1479.81

In [13]:
#4 

df['data'] = pd.to_datetime(df['data'])
display(df)

,data,loja,categoria,produto,quantidade,valor_venda
0,2024-07-20,Vento Norte,Eletrodomesticos,Aquecedor,5.0,405.55
1,2024-05-30,Vento Norte,Sazonal,Guarda-Chuva,6.0,2866.20
2,2024-01-25,Vento Norte,Roupas,Calça,8.0,3292.72
3,2024-07-10,Chuva Clara,Roupas,Casaco,5.0,1294.95
5,2024-08-31,Porto Sol,Sazonal,Manta Térmica,2.0,957.96
...,...,...,...,...,...,...
495,2024-08-23,Porto Sol,Eletrodomesticos,Ventilador,4.0,1545.72
496,2024-12-19,Vento Norte,Eletrodomesticos,Ventilador,1.0,230.89
497,2024-05-12,Vila Neve,Infantil,Blusa Infantil,6.0,441.30
498,2024-03-08,Vila Neve,Eletrodomesticos,Ar-Condicionado,1.0,293.93
499,2024-07-25,Vento Norte,Sazonal,Guarda-Chuva,3.0,1479.81

In [14]:
#5

df['valor_unitario'] = df['valor_venda'] / df['quantidade']
print(df)

          data         loja         categoria          produto  quantidade  \
0   2024-07-20  Vento Norte  Eletrodomesticos        Aquecedor         5.0
1   2024-05-30  Vento Norte           Sazonal     Guarda-Chuva         6.0
2   2024-01-25  Vento Norte            Roupas            Calça         8.0
3   2024-07-10  Chuva Clara            Roupas           Casaco         5.0
5   2024-08-31    Porto Sol           Sazonal    Manta Térmica         2.0
..         ...          ...               ...              ...         ...
495 2024-08-23    Porto Sol  Eletrodomesticos       Ventilador         4.0
496 2024-12-19  Vento Norte  Eletrodomesticos       Ventilador         1.0
497 2024-05-12    Vila Neve          Infantil   Blusa Infantil         6.0
498 2024-03-08    Vila Neve  Eletrodomesticos  Ar-Condicionado         1.0
499 2024-07-25  Vento Norte           Sazonal     Guarda-Chuva         3.0

     valor_venda  valor_unitario
0         405.55           81.11
1        2866.20          477.70
2        3292.72          411.59
3        1294.95          258.99
5         957.96          478.98
..           ...             ...
495      1545.72          386.43
496       230.89          230.89
497       441.30           73.55
498       293.93          293.93
499      1479.81          493.27

[455 rows x 7 columns]

In [15]:
#6

valor_medio_produto = df.groupby('produto', dropna=True)['valor_unitario'].mean().round(2).reset_index()
display(valor_medio_produto)

            produto  valor_unitario
0         Aquecedor          209.27
1   Ar-Condicionado          285.40
2    Blusa Infantil          290.07
3             Calça          266.70
4          Camiseta          253.66
5            Casaco          281.15
6      Guarda-Chuva          265.00
7         Lancheira          271.68
8     Manta Térmica          261.93
9           Mochila          303.51
10   Protetor Solar          299.16
11       Ventilador          287.49
12          Vestido          298.54

In [16]:
#7

valor_medio= df.groupby('produto', dropna=True)['valor_unitario'].mean().round(2).reset_index()
display(valor_medio)

            produto  valor_unitario
0         Aquecedor          209.27
1   Ar-Condicionado          285.40
2    Blusa Infantil          290.07
3             Calça          266.70
4          Camiseta          253.66
5            Casaco          281.15
6      Guarda-Chuva          265.00
7         Lancheira          271.68
8     Manta Térmica          261.93
9           Mochila          303.51
10   Protetor Solar          299.16
11       Ventilador          287.49
12          Vestido          298.54

In [20]:
#8

df['valor_unitario'].fillna(0, inplace=True)
print(df)

          data         loja         categoria          produto  quantidade  \
0   2024-07-20  Vento Norte  Eletrodomesticos        Aquecedor         5.0
1   2024-05-30  Vento Norte           Sazonal     Guarda-Chuva         6.0
2   2024-01-25  Vento Norte            Roupas            Calça         8.0
3   2024-07-10  Chuva Clara            Roupas           Casaco         5.0
5   2024-08-31    Porto Sol           Sazonal    Manta Térmica         2.0
..         ...          ...               ...              ...         ...
495 2024-08-23    Porto Sol  Eletrodomesticos       Ventilador         4.0
496 2024-12-19  Vento Norte  Eletrodomesticos       Ventilador         1.0
497 2024-05-12    Vila Neve          Infantil   Blusa Infantil         6.0
498 2024-03-08    Vila Neve  Eletrodomesticos  Ar-Condicionado         1.0
499 2024-07-25  Vento Norte           Sazonal     Guarda-Chuva         3.0

     valor_venda  valor_unitario
0         405.55           81.11
1        2866.20          477.70
2        3292.72          411.59
3        1294.95          258.99
5         957.96          478.98
..           ...             ...
495      1545.72          386.43
496       230.89          230.89
497       441.30           73.55
498       293.93          293.93
499      1479.81          493.27

[455 rows x 7 columns]

In [22]:
#9

df['valor_venda'] = df['quantidade'] * df['valor_unitario']
display(df)

,data,loja,categoria,produto,quantidade,valor_venda,valor_unitario
0,2024-07-20,Vento Norte,Eletrodomesticos,Aquecedor,5.0,405.55,81.11
1,2024-05-30,Vento Norte,Sazonal,Guarda-Chuva,6.0,2866.20,477.70
2,2024-01-25,Vento Norte,Roupas,Calça,8.0,3292.72,411.59
3,2024-07-10,Chuva Clara,Roupas,Casaco,5.0,1294.95,258.99
5,2024-08-31,Porto Sol,Sazonal,Manta Térmica,2.0,957.96,478.98
...,...,...,...,...,...,...,...
495,2024-08-23,Porto Sol,Eletrodomesticos,Ventilador,4.0,1545.72,386.43
496,2024-12-19,Vento Norte,Eletrodomesticos,Ventilador,1.0,230.89,230.89
497,2024-05-12,Vila Neve,Infantil,Blusa Infantil,6.0,441.30,73.55
498,2024-03-08,Vila Neve,Eletrodomesticos,Ar-Condicionado,1.0,293.93,293.93
499,2024-07-25,Vento Norte,Sazonal,Guarda-Chuva,3.0,1479.81,493.27

In [23]:
#10

df.to_excel("vendas_limpo.xlsx", index=False)